body { font-family: "Segoe UI", Roboto, Arial, sans-serif; }
.progress { height: 10px; }
.card-img-top { height: 180px; object-fit: cover; }
/* Portfolio Grid (Hover Effects) */
.project-image-wrapper {
    overflow: hidden;
    border-radius: 8px;
}

.project-img {
    transition: transform .3s ease-in-out;
}

.project-card:hover .project-img {
    transform: scale(1.1);
}

.project-card {
    cursor: pointer;
    border-radius: 10px;
    transition: box-shadow .3s ease;
}

.project-card:hover {
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}
